.button {
    vertical-align: bottom;
    background-color: var(--primary); /* Corresponds to bg-blue-500 */
    color: white;             /* Corresponds to text-white */
    font-weight: bold;        /* Corresponds to font-bold */
    padding: 0.5rem 1rem;     /* Corresponds to py-2 px-4 */
    border-radius: 0.25rem;   /* Corresponds to rounded */
    transition: background-color 0.2s; /* For hover effect */
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;

}

.button:not([disabled]):hover {
    background-color: #2b6cb0; /* Corresponds to hover:bg-blue-700 */
}

.button:active {
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 15px inset;
}