.card {
    padding-bottom: 32px;
}

.outerScript {
    position: relative;
}

.outerScript svg {
    position: absolute;
}

.line {
    stroke-dasharray: 260;
    stroke-width: 8px;
    fill: transparent;
    stroke: rgba(78, 255, 13, 0.3);
    animation: svgAnimation 2.5s linear infinite;
}

.showLoading {
    display: block;
}

.hide {
    display: none;
}

@keyframes svgAnimation {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 1000;
    }
}

.script {
    vertical-align: bottom;
    width: 100%;
    field-sizing: content;
    padding: 8px;
}

.showBorder {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 4px;
}

.output {
    padding: 8px;
    width: 100%;
    border-radius: 4px;
    white-space: pre-wrap;
    background-color: gray;
    display: inline-block;
    float: left;
    overflow-wrap: break-word;
}

.remove {
    display: inline-block;
    float: left;
}
