@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #414744;
    --foreground: #F6F7F8;
    --primary: #B1906B;
    --secondary: #92A7AA;
    --shaded-background: var(--secondary);
    --shaded-primary: color-mix(in hsl, var(--primary), black 20%)
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #03045e;
        --foreground: #caf0f8;
        --primary: #125B96;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
