@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #4299e1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #4299e1;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  vertical-align: bottom;
  background-color: var(--primary); /* Corresponds to bg-blue-500 */
  color: white;             /* Corresponds to text-white */
  font-weight: bold;        /* Corresponds to font-bold */
  padding: 0.5rem 1rem;     /* Corresponds to py-2 px-4 */
  border-radius: 0.25rem;   /* Corresponds to rounded */
  transition: background-color 0.2s; /* For hover effect */
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;

}

.button:not([disabled]):hover {
  background-color: #2b6cb0; /* Corresponds to hover:bg-blue-700 */
}


button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
