.header {
    background-color: #4299e1;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.persist {
}