.icon {
    padding: 10px clamp(24px, 5vw, 80px); /* Add some horizontal padding */
    border: 8px;
}

.icon:hover svg path {
    fill: #000000;
}

.icon:active {
    transform: scale(0.90);
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 15px inset;
}