.icon {
    padding: 10px clamp(4px, 5vw, 12px); /* Add some horizontal padding */
    border: 8px;
    border-radius: 8px;
    margin-right: clamp(24px, 5vw, 80px);
}

.icon:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 15px inset;
}

.icon:active {
    transform: scale(0.90);
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 15px inset;
}