.card {
    padding-bottom: 32px;
    display: grid;
    grid-template-areas:
        "outerScript addCard"
        "outerScript removeCard"
        "outerScript execute"
        "output      output";
    grid-template-columns: 85% 14.3%;
    gap: 8px;
}

.outerScript {
    position: relative;
    grid-area: outerScript;
}

.outerScript svg {
    position: absolute;
}

.line {
    stroke-dasharray: 260;
    stroke-width: 8px;
    fill: transparent;
    stroke: rgba(78, 255, 13, 0.3);
    animation: svgAnimation 2.5s linear infinite;
}

.showLoading {
    display: block;
}

.hide {
    display: none;
}

@keyframes svgAnimation {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 1000;
    }
}

.script {
    vertical-align: bottom;
    width: 100%;
    padding: 8px;
    height: 136px;
}

.showBorder {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 4px;
}

.output {
    padding: 8px;
    width: 100%;
    border-radius: 4px;
    white-space: pre-wrap;
    color: var(--foreground);
    background-color: color-mix(in srgb, var(--primary), white 70%);
    display: inline-block;
    float: left;
    overflow-wrap: break-word;
    grid-area: output;
}

.remove {
    display: inline-block;
    float: left;
    grid-area: removeCard;
}

.execute {
    grid-area: execute;
}

.addCard {
    grid-area: addCard;
}

.removeCard {
    grid-area: removeCard;
}

@media (max-width: 856px) {
    .card {
        padding-bottom: 20px;
        display: grid;
        grid-template-areas:
        "outerScript    outerScript outerScript"
        "addCard        removeCard  execute"
        "output         output      output";
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
    }
}
