.card {
    display: grid;
    grid-template-areas:
        "outerScript buttons"
        "outerScript buttons"
        "outerScript buttons"
        "output      output";
    grid-template-columns: 85% 14.3%;
    justify-content: start;
    gap: 8px;
}

.outerScript {
    position: relative;
    grid-area: outerScript;
}

.outerScript svg {
    position: absolute;
}

svg {
    position: absolute;
}
.line {
    stroke-dasharray: 260;
    stroke-width: 8px;
    fill: transparent;
    stroke: rgba(78, 255, 13, 0.3);
    animation: svgAnimation 2.5s linear infinite;
}

.showLoading {
    display: block;
}

.hide {
    display: none;
}

@keyframes svgAnimation {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 1000;
    }
}

.script {
    vertical-align: bottom;
    width: 100%;
    padding: 8px;
    height: 136px;
    background-color: color-mix(in hsl, var(--background), white 40%);
}

.showBorder {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 4px;
}

.output {
    padding: 8px;
    width: 100%;
    border-radius: 4px;
    white-space: pre-wrap;
    color: var(--foreground);
    background-color: color-mix(in srgb, var(--primary), white 70%);
    display: inline-block;
    float: left;
    overflow-wrap: break-word;
    grid-area: output;
}

.remove {
    display: inline-block;
    float: left;
    grid-area: removeCard;
}

.buttons {
    grid-area: buttons;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 8px;

    button {
        width: 100%;
        font-size: clamp(0.9rem, 1.5vw, 1rem);
        padding: clamp(4px, -0.571rem + 1.429vw, 12px) clamp(4px, 1.0vw, 24px);
    }
}

@media (max-width: 658px) {
    .card {
        padding-bottom: 20px;
        display: grid;
        grid-template-areas:
        "outerScript    outerScript outerScript"
        "addCard        removeCard  execute"
        "buttons        buttons     buttons";
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;

        .buttons {
            flex-direction: row;
            justify-content: start;

            button {
                font-size: 1rem;
            }
        }
    }
}
