.main {
    padding: clamp(16px, 2.4vw, 24px) clamp(24px, 5vw, 80px);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    align-self: center;
    width: fit-content(120px);
    padding: 4px;
    text-align: center;
    background-color: color-mix(in hsl, var(--background), white 40%);
    border-radius: 8px;
}